<%= stylesheet_link_tag 'style'%>

<%= render partial: "shared/sign", locals:{model: categories_path, total: "CATEGORY"}%>

<div class="categories">
  <% @category.each do |e| %>
    <div class="category">
      <div class="category-icon">
        <%= image_tag e.icon %>
      </div>

      <div class="category-details">
        <div class="category-name">
          <%= link_to e.name, category_path(e.id) %>
        </div>

        <div class="money">
          <p>$<%= e.exchanges.sum(:amount) %></p>
          <%= button_to "remove #{e.name}", category_path(e.id), method: :delete %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="add">
    <%= link_to "Add category", new_category_path %>
  </div>
</div>