<%= stylesheet_link_tag 'style'%>

<%= render partial: "shared/sign", locals: { model: "categories_path", total: "NEW CATEGORY" } %>

<div class="top-links">
  <h2 class="cat-heading">New Category</h2>
</div>

<%= form_with model: @category, url: categories_path, method: :post do |form| %>
  <div class="input">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Enter category name", required: true %>
  </div>
  <div class="input">
    <%= form.label :icon %>
    <%= form.file_field :icon, id: 'image-input' %>
  </div>
  <div class="action">
    <%= form.submit "Create category" %>
  </div>
<% end %>
