<%# <%= stylesheet_link_tag 'style'%>

<%# <%= render partial:"shared/sign", locals:{model: categories_path, total:"$#{@category.exchanges.sum(:amount)}"}%>
<%# <%@exchanges.each do |e|%>
  <%# <><%= e.name %>
  <%# <><%= e.amount %>
<%# </div> %>
<%# <%end%> 
<%# <div class="add"> %>
  <%# <%= link_to "Add transaction", new_category_exchange_path(@category.id) %>
<%# </div> %>